@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	font-family: "Open Sans";
}
h1, p {
	text-align: center;	
}
p {
	width: 70%;
	margin: 0 auto;
}
#wrapper {
	margin: 0 auto;
	width: 70%;
}
.available {
	width: 23%;
	height: 50px;
	border-color: #0D4F8B;
	margin: 1%;
	float: left;
	line-height: 50px;
	text-align: center;
	background-color:#BFEFFF;

}
.div_hover:hover { 
	background-color: #FFFFFF; 
}
#form{
	padding: 51px;
	margin: 39%;
}