@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
	font-family: "Open Sans";
}
h1, p {
	text-align: center;	
}
h1 {
	font-family: "Lobster";
	padding-top: 40px;
}
p {
	width: 60%;
	margin: 0 auto;
	font-size: 0.9em;
}
#wrapper {
	margin: 0 auto;
	padding-top: 15px;
	width: 70%;
}
.available {
	width: 23%;
	height: 50px;
	border-color: #0D4F8B;
	margin: 1%;
	float: left;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	background-color:#ddd;
}
.available:hover { 
	background-color: #ccc; 
}
#form{
	padding: 51px;
	margin: 39%;
}